.topic_of_search{
  font-size: large;
    margin: auto;
    text-align: center;
    width: 700px;
    height: 100px;
    flex-grow: 1;
    border: 3px solid navy;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0%;
  }