
form {
    
    background-color: rgb(195, 240, 241);
    border: 1px solid rgb(196, 230, 230);
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    width: 500px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    margin: auto;
}

legend{
   text-align: center;
   text-decoration: underline;
}

input{
    text-align: right;
}

fieldset {
    text-align: right;
}
