
.PageHeader{
  background-color: darkkhaki;
    font-family: Arial, Helvetica, sans-serif
  }
  #site_brief_description{
    font-size: xx-large;
    text-align: center;
    margin-top: 50px;
    color: navy;
    font-weight: bold;
  }
  .logo-image{
    width: 150px;
    height: 110px;
    overflow: hidden;
    margin-top: 10px;
  }
  .navbar {
    min-height: 120px;
    height:100px;
    background-color: navy;
  }
  
  .navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
  }
  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }
  #logo{
    width: 150px;
    height: 100px;
  }
  .dropdown-toggle{
    height: 60px;
    text-align: center;
    font-size: large;
    margin-top:30px;
    font-weight: bold;
    color:white;
  }
  .admin_button{
    height: 60px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top:30px;
  }
  .dropdown-menu{
    font-size: large;
    background-color: navy;
  }
  .nav.navbar-nav li a {
    color:white;
  }
  
  .nav.navbar-nav a:hover {
  color: white;
  }